@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');
body {
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    animation: gradient 12s ease infinite;
    background-size: 400% 400%;
    font-family: "Montserrat", sans-serif;
    
}

.main-container {
    width: 30%;
    margin: auto;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    margin-top: 1rem;
    font-family: 'Palette Mosaic', sans-serif;
    color: #7a9cc2;
}
h1 span:nth-child(2) {
    color: #eeaeca;
    
}
.about {
    font-style: italic;
    font-size: 1.1rem;
    font-weight: 200;
    text-align: center;
}

section {
    margin-top: 1rem;
}

label {
    font-weight: 700;
    margin-right: 0.2rem;
}

.button-container {
    margin-top: 1rem;
}

button {
    border-radius: 5px;
    padding: 1rem 0;
}

.btn-1 {
    background-color: #94bbe9;
}

.btn-1:hover {
    background-color: #7a9cc2;
    color: white;
    transition: 0.5s;
}

.btn-2 {
    background-color: #eeaeca;
}

.btn-2:hover {
    background-color: #bf8ba1;
    color: white;
    transition: 0.5s;
}

.btn-reset {
    background-color: palegoldenrod;
}

.btn-reset:hover {
    background-color: rgb(213, 206, 150);
    color: white;
    transition: 0.5s;
}

@keyframes gradient {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}