@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(246,231,243,1) 100%);
    font-family: "Montserrat", sans-serif;
    
}

.main-container {
    width: 30%;
    margin: auto;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    margin-top: 1rem;
}
.about {
    font-style: italic;
    font-size: 1.1rem;
    font-weight: 200;
    text-align: center;
}

section {
    margin-top: 1rem;
}

label {
    font-weight: 700;
    margin-right: 0.2rem;
}

.button-container {
    margin-top: 1rem;
}

button {
    border-radius: 5px;
    height: 180%;
}

.btn-1 {
    background-color: aqua;
}

.btn-1:hover {
    background-color: blue;
    color: white;
    transition: 0.5s;
}

.btn-2 {
    background-color: palevioletred;
}

.btn-2:hover {
    background-color: red;
    color: white;
    transition: 0.5s;
}

.btn-reset {
    background-color: palegoldenrod;
}

.btn-reset:hover {
    background-color: olive;
    color: white;
    transition: 0.5s;
}